<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>nexus</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>nexus</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>nexus-profile</id>
      <repositories>
        <repository>
          <id>nexus-maven</id>
          <name>nexus-maven-public</name>
          <url>http://localhost:8081/repository/maven-public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>nexus-releases</id>
          <name>nexus-releases-public</name>
          <url>http://localhost:8081/repository/nexus-releases/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>nexus-snapshots</id>
          <name>nexus-snapshots-public</name>
          <url>http://localhost:8081/repository/nexus-snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      
      <pluginRepositories>
        <pluginRepository>
          <id>nexus</id>
          <name>nexus-maven-public</name>
          <url>http://localhost:8081/repository/maven-public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>nexus</id>
          <name>nexus-maven-public</name>
          <url>http://localhost:8081/repository/nexus-snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>        
        <pluginRepository>
          <id>nexus</id>
          <name>nexus-maven-public</name>
          <url>http://localhost:8081/repository/nexus-releases/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus-profile</activeProfile>
  </activeProfiles>undefined</settings>
</settings>
